.copyright {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  z-index: 100;
  font-family: sans-serif;
  pointer-events: none;
  font-style: italic;
}
